<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <!-- Row 0 -->
          <form #addModelForm="ngForm">
            <div class="form-row">
              <div class="form-group col-md-2" *ngIf="this.model.signInDate">
                <button type="button" class="btn btn-primary mt-4 ml-2 btn-lg" 
                (click)="toReport()">{{ 'Common.btnList.goBack' | translate }}</button>
              </div> 
            </div>
            <!--------Row 1-------->
            <div class="form-row">
              <div class="form-group col-md-6">
                <label>{{ 'Report.titleList.companyName' | translate }}</label>
                <label style="color:red;">*</label>
                <ng-select [items]="companyList"
                name="companyName"
                bindLabel="companyName"
                bindValue="id"
                [clearable]="false"
                [(ngModel)]="model.companyId">
                </ng-select>
              </div>
              <div class="form-group col-md-3">
                <label>{{ 'Report.titleList.driverName' | translate }}</label>
                <label style="color:red;">*</label>
                <input
                  type="text"
                  class="form-control"
                  name="driverName"
                  maxlength="60"
                  [(ngModel)]="model.driverName"
                  required
                />
              </div>
              <div class="form-group col-md-3">
                <label style="color:red;">{{ 'Report.titleList.licenseNumber' | translate }}</label>
                <label style="color:red;">*</label>
                <input
                  type="text"
                  class="form-control"
                  name="licenseNumber"
                  maxlength="20"
                  [(ngModel)]="model.licenseNumber"
                  (focusout)="getLastRecord()"
                  required
                />
              </div>
            </div>
            <!--------Row 2-------->
            <div class="form-row">
              <div class="form-group col-md-3">
                <label>{{ 'Report.titleList.plateNumber' | translate }}</label>
                <label style="color:red;">*</label>
                <input
                  type="text"
                  class="form-control"
                  name="plateNumber"
                  maxlength="20"
                  [(ngModel)]="model.plateNumber"
                  required
                />
              </div>
              <div class="form-group col-md-3">
                <label>{{ 'Report.titleList.carSize' | translate }}</label>
                <label style="color:red;">*</label>
                <ng-select [items]="carList"
                name="departmentName"
                bindLabel="carSize"
                bindValue="id"
                [clearable]="false"
                [(ngModel)]="model.carId">
                </ng-select>
              </div>
              <div class="form-group col-md-3">
                <label>{{ 'Report.titleList.carTempNumber' | translate }}</label>
                <label style="color:red;">*</label>
                <input
                  type="text"
                  class="form-control"
                  name="carTempNumber"
                  maxlength="20"
                  [(ngModel)]="model.carTempNumber"
                  required
                />
              </div>
              <div class="form-group col-md-3">
                <label>{{ 'Report.titleList.sealNumber' | translate }} ({{ 'Common.optional' | translate }})</label>
                <input
                  type="text"
                  class="form-control"
                  name="sealNumber"
                  maxlength="60"
                  [(ngModel)]="model.sealNumber"
                />
              </div>                                
            </div>
            <!--------Row 3-------->
            <div class="form-row">
              <div class="form-group col-md-3">
                <label style="color:red;">{{ 'Report.titleList.departmentName' | translate }}</label>
                <label style="color:red;">*</label>
                <ng-select [items]="departmentList"
                name="departmentName"
                bindLabel="departmentName"
                bindValue="id"
                [clearable]="false"
                [(ngModel)]="model.departmentId">
                </ng-select>
              </div>
              <div class="form-group col-md-3">
                <label>{{ 'Report.titleList.contactPerson' | translate }}</label>
                <label style="color:red;">*</label>
                <input
                  type="text"
                  class="form-control"
                  name="contactPerson"
                  maxlength="60"
                  [(ngModel)]="model.contactPerson"
                  required
                />
              </div>
              <div class="form-group col-md-3">
                <label>{{ 'Report.titleList.signInReason' | translate }}</label>
                <label style="color:red;">*</label>
                <select
                class="form-control"
                name="signInReason"
                [(ngModel)]="model.signInReason"
                required>
                <option value = "{{ 'Report.inOutList.import' | translate }}" selected>{{ 'Report.inOutList.import' | translate }}</option>
                <option value = "{{ 'Report.inOutList.export' | translate }}" selected>{{ 'Report.inOutList.export' | translate }}</option>
                </select>
              </div>
              <div class="form-group col-md-3">
                <label>{{ 'Report.titleList.tempNumber' | translate }}</label>
                <label style="color:red;">*</label>
                <input
                  type="text"
                  class="form-control"
                  name="tempNumber"
                  maxlength="20"
                  [(ngModel)]="model.tempNumber"
                  required
                />
              </div>
            </div>
            <!--------Row 4-------->
            <div class="form-row">
              <div class="form-group col-md-3">
                <label>{{ 'Report.titleList.goodsName' | translate }}({{ 'Common.optional' | translate }})</label>
                <input
                  type="text"
                  class="form-control"
                  name="goodsName"
                  maxlength="60"
                  [(ngModel)]="model.goodsName"
                />
              </div>
              <div class="form-group col-md-3">
                <label>{{ 'Report.titleList.goodsCount' | translate }}({{ 'Common.optional' | translate }})</label>
                <input
                  type="text"
                  class="form-control"
                  name="goodsCount"
                  maxlength="10"
                  [(ngModel)]="model.goodsCount"
                />
                <label>{{ 'Report.noteStr' | translate }}</label>
              </div>
              <div class="form-group col-md-2" *ngIf="this.model.signInDate">
                <label>{{ 'Report.titleList.guardName' | translate }}</label>
                <input
                  type="text"
                  class="form-control"
                  name="guardName"
                  maxlength="60"
                  [(ngModel)]="model.guardName"
                />
              </div>
              <div class="form-group col-md-1" *ngIf="!this.model.signOutDate && this.model.signInDate && isValidinDB">
                <button type="button" class="btn btn-primary mt-4 btn-lg" 
                (click)="signature()" >{{ 'Common.btnList.signature' | translate }}</button>
              </div>
              <div class="form-group col-md-1" *ngIf="this.model.signInDate;else elseEditBtn">
                <button type="button" class="btn btn-success mt-4 ml-4 btn-lg" 
                (click)="edit()" [disabled]="!addModelForm.valid">{{ 'Common.btnList.save' | translate }}</button>
              </div>                                        
              <ng-template #elseEditBtn>
                <div class="form-group col-md-1">
                  <button type="button" class="btn btn-primary mt-4 btn-lg" 
                  (click)="save()" [disabled]="!addModelForm.valid">{{ 'Common.btnList.save' | translate }}</button>
                </div>  
              </ng-template>              
              <div class="form-group col-md-2" *ngIf="this.model.signOutDate && this.model.signInDate && isValidinDB">
                <img
                src="../assets/ReportPics/{{ this.model.driverSign }}"
                width="150"
                height="100"
              />
              </div>     
            </div>
            <!--------Row 5-------->
            <div class="form-row">
              <div class="form-group col-md-12" >
                <label>{{ 'Report.titleList.memo' | translate }}</label>
                <input
                  type="text"
                  class="form-control"
                  name="memo"
                  maxlength="60"
                  [(ngModel)]="model.memo"
                />
              </div>
            </div>
            <!--------Row 6-------->
            <div class="form-row">
              <div class="form-group col-md-2" *ngIf="this.model.signInDate" >
                <label>{{ 'Report.titleList.signInDate' | translate }}</label>
                <input
                  type="text"
                  class="form-control"
                  name="signInDate"
                  value="{{ model.signInDate | date: 'yyyy/MM/dd HH:mm:ss'}}"
                  readonly
                />
              </div> 
              <div class="form-group col-md-2" *ngIf="!this.model.signOutDate; else elseSignoutDate" >
                <!--
                <button type="button" class="btn btn-warning mt-4 btn-lg" 
                (click)="this.signOut()" [hidden]="!this.model.signInDate">{{ 'Common.btnList.signOut' | translate }}</button>
                 -->
              </div>
              <ng-template #elseSignoutDate>
                <div class="form-group col-md-2" >
                  <label>{{ 'Report.titleList.signOutDate' | translate }}</label>
                  <input
                    type="text"
                    class="form-control"
                    name="signOutDate"
                    value="{{ model.signOutDate | date: 'yyyy/MM/dd HH:mm:ss'}}"
                    readonly
                  />
                </div> 
              </ng-template>
              
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="large"
  color="#fff"
  type="square-jelly-box"
  [fullScreen]="true"
  ><p style="color: white">{{ 'Common.loadingPleaseWait' | translate }}</p></ngx-spinner
>
